{% extends 'base.html' %}

{% block title %} Recomendaciones | MovieHub {% endblock %}

{% block content %}
<div class="containerBox">
    <h3 class="center">Películas Recomendadas</h3>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://via.placeholder.com/300x400" alt="Pelicula 1">
                </div>
                <div class="card-content">
                    <span class="card-title">Buscando a Nemo</span>
                    <p>Marlin, un pez payaso, siempre ha intentado proteger de todos los peligros a su hijo. 
                        Sin embargo, un buzo atrapa al pequeño, y ahora el padre deberá embarcarse en una increíble aventura por 
                        las aguas australianas para encontrarlo.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://via.placeholder.com/300x400" alt="Pelicula 2">
                </div>
                <div class="card-content">
                    <span class="card-title">Parasitos</span>
                    <p>Tanto Gi Taek como su familia están sin trabajo. Cuando su hijo mayor, Gi Woo, empieza a impartir
                         clases particulares en la adinerada casa de los Park, las dos familias, que tienen mucho en 
                        común pese a pertenecer a dos mundos totalmente distintos, entablan una relación de resultados imprevisibles.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://via.placeholder.com/300x400" alt="Pelicula 2">
                </div>
                <div class="card-content">
                    <span class="card-title">Spiderman into the Spiderverse </span>
                    <p>Luego de ser mordido por una araña radioactiva, el joven Miles Morales desarrolla misteriosos poderes que lo transforman en el Hombre Araña.
                        Ahora deberá usar sus nuevas habilidades ante el malvado Kingpin, un enorme demente que puede abrir portales hacia otros universos.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}